body { font-family: Arial, sans-serif; }
#tracks, #artists, #recently-played, #album-info, #playlists { margin-top: 20px; }
button {
    border-color: aqua;
    border-radius: 10px;
}
button:hover{
    background-color: #f5e400;
}
div{
    color: rgb(48, 0, 0);
    transition: transform 1s ease-in-out, color 1s ease-in-out ;
}
div:hover{
    color: #0f37a7;
}
